:root {
	--main-background-color:linear-gradient(blue, lightblue);
	--nav-background-color: #fff;
	--header-font-size: 2.5rem;
}

body {
	height: 100%;
	background: var(--main-background-color);
}

header {
	display: grid;
	grid-template-columns: 25% 50% 25%;
	grid-template-rows: 2rem auto;
}

header > nav {
	background-color: var(--nav-background-color)
}

nav {
	/* margin-top: 2rem; */
	display: grid;
	grid-column-start: 2;
	grid-column-end: span 1;
	grid-row-start: 2;
	grid-row-end: span 1;
	padding: 1rem;
	justify-self: center;
	border-radius: 4px;
	box-shadow: 1px 1px 3px black;
}

nav:has(#site-query:focus-visible) {
	transform: scale(2.5) translateY(50%);
}

#search-group {
	font-size: var(--header-font-size);
	display: grid;
	grid-template-columns: repeat(4, auto);
}

button {
	font-size: 1rem;
	margin-left: 4px;
}

#go-button {
	width: 7ch;
}

#add {
	background-color: #fff;
	justify-content: center;
	justify-self: end;
	margin-right: 2rem;
	text-align: center;
	display: grid;
	grid-column-start: 3;
	grid-row-start: 2;
	font-size: calc(var(--header-font-size) * 1.5);
	height:calc(var(--header-font-size) * 2);
	width:calc(var(--header-font-size) * 2);
	border-radius: 50%;
	box-shadow: 1px 1px 4px black;
}

#add:active {
	transform: translate(.25rem, .25rem);
}

/* start dialog box */

dialog {
	min-width: 50%;
	font-size: 2rem;
}

input[name="issueType"] {
	margin-left: 1.4rem;
}

#issueTextContainer {
	margin-top: 1.5rem;
}
#issueText {
	margin-block: .5rem;
	box-sizing: border-box;
	width: 100%;
}

/* 50 115 246 */

/* end dialog box */



footer {
	position: fixed;
	height: auto;
	background-color: #fff;
	bottom: 0;
	font-style: italic;
}

.info {
	color: #fff;
}


/* vim: set tabstop=2 shiftwidth=2 softtabstop=2 noexpandtab: */
