body {
    background-color: #fff;
}

main {
	position: relative;
	height: 100%;
	background: linear-gradient(#80979b, #80b8cb);
	padding-left: 1.5rem;
}

#vertical-spacer {
	height: 1px;
}

.wrapper {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding-bottom: 7px;
}

.hero {
	height: 50%;
}

.icon {
	display: flex;
	max-height: 32px;
	max-width: 52px;
}

.search-group {
	align-self: flex-end;
	display:flex;
}

#home {
	display: flex;
	justify-self: flex-start;
}
#magnifying-glass {
	display: flex;
	justify-self: flex-end;
}

img[src$=".svg"] {
	height: auto;
}

footer {
	position: fixed;
	height: auto;
	background-color: #fff;
	bottom: 0;
	font-style: italic;
}

.info {
	color: #fff;
}



/* vim: set tabstop=2 shiftwidth=2 softtabstop=2 noexpandtab: */
