:root {
	--main-background-color:linear-gradient(blue, lightblue);
	--nav-background-color: #fff;
}

body {
	height: 100%;
	background: var(--main-background-color);
}

@media (width >= 700px) {
	header {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;
	}
}

@media (max-width: 700px) {
	header {
		display: grid;
		grid-template-columns: 25% 50% 25%;
		grid-template-rows: auto;
	}
}

header > nav {
	background-color: var(--nav-background-color)
}

nav {
	margin-top: 2rem;
	display: grid;
	grid-column-start: 2;
	grid-column-end: span 1;
	padding: 1rem;
	justify-self: center;
	border-radius: 4px;
}

nav:has(#site-query:focus-visible) {
	transform: scale(2.5) translateY(50%);
}

#search-group {
	font-size: 2.5rem;
	display: grid;
	grid-template-columns: repeat(4, auto);
}

button {
	font-size: 1rem;
	margin-left: 4px;
}

#go-button {
	width: 7ch;
}

footer {
	position: fixed;
	height: auto;
	background-color: #fff;
	bottom: 0;
	font-style: italic;
}

.info {
	color: #fff;
}


/* vim: set tabstop=2 shiftwidth=2 softtabstop=2 noexpandtab: */
