body {
	height: 100%;
	background: linear-gradient(blue, lightblue);
}

header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
}

header > nav {
	background-color: #fff;
}

nav {
	margin-top: 2rem;
	display: grid;
	grid-column-start: 2;
	grid-column-end: span 1;
	padding: 1rem;
	justify-self: center;
	border-radius: 4px;
}

nav:focus-within {
	transform: scale(2.5) translateY(50%);
}

/* #site-query:focus { */
/* 	width: 100vw; */
/* } */

#search-group {
	font-size: 2.5rem;
	display: grid;
	grid-template-columns: repeat(4, auto);
}

button {
	font-size: 1rem;
	margin-left: 4px;
}



footer {
	position: fixed;
	height: auto;
	background-color: #fff;
	bottom: 0;
	font-style: italic;
}

.info {
	color: #fff;
}


/* vim: set tabstop=2 shiftwidth=2 softtabstop=2 noexpandtab: */
