body {
	height: 100%;
	background: linear-gradient(blue, lightblue);
}
header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 3rem;
}

nav {
	display: grid;
	grid-column-start: 2;
	grid-column-end: span 1;
	padding: 1rem;
	justify-self: center;
	border-radius: 4px;
}

search-group {
	font-size: 3 rem;
	display: grid;
	grid-template-columns: repeat(3, auto);
}

header > nav {
	background-color: #fff;
}

footer {
	position: fixed;
	height: auto;
	background-color: #fff;
	bottom: 0;
	font-style: italic;
}

.info {
	color: #fff;
}



/* vim: set tabstop=2 shiftwidth=2 softtabstop=2 noexpandtab: */
